<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Watteam</title>  
    <!--[if mso]>
        <style type="text/css">
        body, table, td {font-family: Arial, Helvetica, sans-serif !important;}
    <![endif]-->

    <style type="text/css">

    @media screen and (max-width: 480px) {
table[class=w280], td[class=w280]{
    display: block !important;
    width: 300px !important;
}
}
    </style>
    
</head>

<body style="background-color: #ffffff; font-family:'arial',sans-serif;background:#fff;margin: 0;">
	 <style type="text/css">

    @media screen and (max-width: 480px) {
table[class=w280], td[class=w280]{
    display: block !important;
    width: 300px !important;
}
}
    </style>
    <center>
        <table style="padding:2%; max-width:600px;">   
            <tr>
                <td style="padding:10px;">
                    <span style="font-size: 16px;">
                        <b>Dear <%=  @order.bill_address.firstname %>,</b>
                            <% 
                            if false
                            Spree.t('order_mailer.confirm_email.dear_customer') 
                            end
                            %>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding:10px;">
                       <%
                        if false
                            Spree.t('order_mailer.confirm_email.instructions') 
                        end
                        %>
                        Please review and retain the following order information for your records.
                        <br/>

                       <%= Spree.t('order_mailer.confirm_email.order_summary') %>
                  
                </td>
            </tr>
            
            <tr width="100%">
                <td width="100%">
                    <table width="100%" style="font-size: 12px;" class="w280">
                        <tbody>
                           <% @order.line_items.each do |item| %>
                            <tr width="100%">
                                <td width="14%" align="left" style="padding:10px;" class="w280"> <span><b><%= item.variant.sku %></b></span>
                                </td>
                                <td width="34%" align="center"  style="padding:10px;" class="w280">
                                    <span style="width:100px;" >
                                    	<b>
                                       <%= raw(item.variant.product.name) %><br />
                                       <%= raw(item.variant.options_text) %>
                                   </b>
                                    </span>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280"><span style="width:100px;"><%=item.quantity%>) @<%= item.single_money %> =<%= item.display_amount %></span>
                                </td>
                            </tr>
                           <% end %>
                            
                            <tr>
                                <td width="14%" class="w280"> </td>
                                <td width="34%" align="center" style="padding:10px;" class="w280">
                                  <b> <%= Spree.t('order_mailer.confirm_email.subtotal') %><b>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280">
                                   <%= @order.display_item_total %>
                                </td>
                            </tr>
                           <% if @order.line_item_adjustments.exists? %>
                               <% if @order.all_adjustments.promotion.eligible.exists? %>
                                   <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                            
                            <tr>
                                <td width="14%" align="left" style="padding:10px;" class="w280"></td>
                                <td  style="padding:10px;" class="w280"><b><%= Spree.t(:promotion) %><%= label %>:</b>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
                                </td>
                            </tr>
                           <% end %>
                               <% end %>
                           <% end %>
                           <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
                            
                            <tr>
                                <td width="14%" align="left" class="w280"></td>
                                <td width="34%" align="center" style="padding:10px;" class="w280"><b><%= Spree.t(:shipping) %><%= name %>:</b>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280"><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %>
                                </td>
                            </tr>
                           <% end %>
                           <% if @order.all_adjustments.eligible.tax.exists? %>
                               <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>

                            <tr>
                                <td width="14%" align="left" class="w280"></td>
                                <td width="34%" align="center" style="padding:10px;" class="w280"><b><%= Spree.t(:tax) %><%= label %>:</b>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
                                </td>
                            </tr>
                           <% end %>
                           <% end %>
                           <% @order.adjustments.eligible.each do |adjustment| %>
                               <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                            
                            <tr>
                                <td width="14%" align="left" class="w280"></td>
                                <td style="padding:10px;" class="w280"> <b><%= adjustment.label %>:</b>
                                </td>
                                <td style="padding:10px;" class="w280"><%= adjustment.display_amount %>
                                </td>
                            </tr>
                           <% end %>

                            <tr>
                                <td width="14%" align="left" class="w280"></td>
                                <td width="34%" align="center" style="padding:10px;" class="w280">
                                 <b>  <%= Spree.t('order_mailer.confirm_email.total') %></b>
                                </td>
                                <td width="50%" align="right" style="padding:10px;" class="w280">
                                   <%= @order.display_total %>
                                </td>
                            </tr>

                      
                            
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                       <%
                        if false
                         Spree.t('order_mailer.confirm_email.thanks') 
                        end
                         %>
                         POWERBEAT will be shipped to your home by <strong>April of 2016</strong>.<br />
                         We're excited to have you on board and thank you for your business. 
                    </span>
                    <h3>Watteam</h3>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>