<%= form_for :order, :url => populate_orders_path, :html => {:id => "cartform"} do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="columns five alpha">
        <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
        <ul>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
		
        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
          <div class="dollar">
            
            <span class="only">only</span>
            <span class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <% if false %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
             <div style="display:none;" class="out-of-stock-popup">
  <div id="out-of-stock-popup">
  <div class="cart-popup-content">
  <div>
  We're sorry but the first batch of POWRBEATs has sold out more quickly than expected. The next batch will be shipped by Spring 2016.<br />  
  You may make your order now to secure a unit, or simply sign up to receive updates.
  </div>
  <div class="cart-popup-btn">
  <button onclick="windowl.location.href='#PowerbeatPhase2'" class="large primary">Pre-order now</button>
  <button onclick="windowl.location.href='http://watteam.com'" class="large primary" style="float:right;">Receive updates</button>
  </div>
    </div>
</div>
</div>
<script>
$( document ).ready(function() {
  $.fancybox({
        'padding': 0,
        'margin': 4,
        'type': 'inline',
        'href': '#out-of-stock-popup',
        'width': '720px',
        'centerOnScroll': true,
        'autoDimensions': true,
        'modal': true
    });

});
</script>
          <% end %>
        
		
		<% disable_cart_btn = true %>
		<% if current_order %>
			<% current_order.line_items.each do |line_item| %>
				<% if (line_item.variant_id == @product.id || line_item.variant_id == @product.master.id ) && line_item.quantity > 1 %>
				<% disable_cart_btn = false %>
				<% end %>
 			<% end %>
 		<% end %>
		
        <div class="add-to-cart">	
			<% if disable_cart_btn == true %>
      <span class="dnone">
			  <%= number_field_tag :quantity, 1, :class => 'title', :min => 1,:max=>1,:readonly => true %>
      </span>

        <% if session[:valid_sitelogin] == true %>
  			  <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do  %>
  				<%= Spree.t(:add_to_cart) %>
  			  <% end %>
        <% end %>  
			<% else %>
				<h4>Already added in <a href="/cart">cart</a>.</h4>
			<% end %>
        </div>
		
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
<% if !session[:valid_sitelogin] || session[:valid_sitelogin]==false %>
<!-- load popup for password -->
<%= render :partial => 'sitelogin/new' %>
<% end %>

<div style="display:none;" class="main-cart-popup">
  <div id="addtocart-popup">
  <div class="cart-popup-content">
  <div>Dear cyclist,<br />
  Watteam has leveled the playing field with the first pro-level power meter that won't break the bank. We were able to achieve that using smart built-in technology that allows the biker to entirely self-install and calibrate the PowerBeat device. By pioneering this new era with us, we ask that early adopters have some basic technical skills:</div>
  <ul>
    <li>Removing the pedals</li>
    <li>Gluing the sensors</li>
    <li>Installing the comp units</li>
    <li>Calibrating the device</li>
  </ul>
  <div>The installation process takes about 30 minutes and is done using the app, which has embedded videos that clearly explain every step.  You may refer to our <a href="http://watteam.com/support/">Support page</a> to view the installation videos.</div>
  <div>Before purchasing POWERBEAT, please make sure that you possess the required technical skills.</div>
  </div>
  <div class="cart-popup-btn">
  <button class="large primary" id="add-to-cart-btn" name="button" type="button">Agree &amp; Continue</button>
  <button class="large primary" id="no-thanks-btn" name="button" type="button">No thanks</button>
  </div>
    </div>
</div>
<script>
$( document ).ready(function() {
$("#add-to-cart-button").click(function(event){
    event.preventDefault();
  $.fancybox({
        'type': 'inline',
        'href': '#addtocart-popup'
    });
});

$("#add-to-cart-btn").click(function(event){
$( "#cartform" ).submit();
});

$("#no-thanks-btn").click(function(event){
$.fancybox.close();
});

});
</script>