<footer id="footer" class="sixteen columns" data-hook>

<div class="bottom-socials-wrapper">
            	
                <div id="bottom-socials">
                 	<ul class="social-icon">
                     	<li><a id="facebook" href="https://www.facebook.com/WatteamPowerBeat" target="_blank">   <%= image_tag("f_facebook.png", :alt => "facebook") %></a></li>
                        <li><a id="twitter" href="https://twitter.com/WatteamOn" target="_blank"> <%= image_tag("f_twitter.png", :alt => "twitter") %></a></li>
                        <li><a id="linkdin" href="https://www.linkedin.com/company/5283843?trk=tyah&amp;trkInfo=tarId%3A1406659274171%2Ctas%3Awatteam%2Cidx%3A1-1-1" target="_blank"><%= image_tag("f_linkedin.png", :alt => "linkedin") %></a></li>
                        <li><a id="youtube" href="https://www.youtube.com/user/WatteamPowerBeat/feed" target="_blank"><%= image_tag("f_youtube.png", :alt => "youtube") %></a></li>
                    </ul>
                </div>
            	            </div>
							
							
<div class="bottom-menu ">

 <div class="container">
		<ul id="menu-foomenu" class="clearfix"><li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="http://watteam.com/benefits/">Benefits</a></li>
<li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504"><a href="http://watteam.com/technology/">Technology</a></li>
<li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505"><a href="http://watteam.com/gallery/">Gallery</a></li>
<li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-502"><a href="http://watteam.com/about/">About</a></li>
<li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501"><a href="http://watteam.com/partners/">Partners</a></li>
<li id="menu-item-507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507"><a href="http://watteam.com/press/">PRESS</a></li>
<li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506"><a href="http://watteam.com/faq/">FAQ</a></li>
<li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-500"><a href="http://watteam.com/contact/">Contact</a></li>
</ul> 
                   
				   </div>
				           </div>

  <div class="container bottom-second">
    
    <div class="three columns f_left">
     <h5>CONTACT</h5>
    <p>  WATTEAM Headquarters, 17780<br>
Fitch Avenue, Suite 111,<br>
Irvine CA, 92604 USA.<br>
<a href="mailto:/info@watteam.com" onclick="__gaTracker('send', 'event', 'mailto', '/info@watteam.com');">info@watteam.com</a><br>
+972-4-658-1516<br></p>     
    </div>
    
    <div class="three columns f_mid">
      <h5>Newsletter</h5>
     <div id="mc_embed_signup">

<form action="//watteam.us10.list-manage.com/subscribe/post?u=a111cc0531d37f010c883cb18&amp;id=67cb1e31c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div id="mc_embed_signup_scroll">

	



<div class="mc-field-group">

	<label for="mce-FNAME">Name:<span class="asterisk">*</span>

</label>
       	<input type="text" value="" name="first_name" class="required" id="mce-FNAME" placeholder="">
		
		<label for="mce-EMAIL">Email:<span class="asterisk">*</span>

</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="">
	 <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
	 
	 <p class="sf_required_fields_msg" id="requiredfieldsmsg"><sup><span class="required">*</span></sup> These fields are required.</p>
</div>

	<div id="mce-responses">

		<div class="response" id="mce-error-response" style="display:none"></div>

		<div class="response" id="mce-success-response" style="display:none"></div>

	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a111cc0531d37f010c883cb18_67cb1e31c9" tabindex="-1" value=""></div>

   

    </div>

</form>

</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

    </div>
    
    <div class="three columns f_right">
      <h5>SOCIALIZE WITH US</h5>
	  <ul class="bottom-social">
	  <li>
       <a href="https://www.facebook.com/WatteamPowerBeat" target="_blank"><%= image_tag 'FACEBOOK.png' %></a>
	  </li>
	  <li>
      <a href="https://twitter.com/WatteamOn" target="_blank"><%= image_tag 'TW.png' %></a>
	  </li>
	  <li>
      <a href="https://www.linkedin.com/company/watteam-ltd-?trk=tyah&trkInfo=tarId%3A1406659274171%2Ctas%3Awatteam%2Cidx%3A1-1-1" target="_blank"><%= image_tag 'LINKED.png' %></a>
	  </li>
	  <li>
     <a href="https://www.youtube.com/user/WatteamPowerBeat/feed" target="_blank"> <%= image_tag 'YU.png' %></a>
	  </li>
	  </ul>
    </div>
    
 
    
  </div>
 
  <div id="bottom-copyright" class="clearfix">
   <div class="container">
                <ul class="clearfix">
                    <li>© 2014 WATTEAM - All rights reserved</li>
                    <li>Legal | Terms and Conditions</li>
                </ul>
            </div>
			</div>
			
			<a href="#divForm" id="btnForm">Load Form</a>

<div id="divForm" style="display:none">
    <form action="tbd">
        File: <input type="file" /><br /><br />
        <input type="submit" />
    </form>
</div>

<script type="text/javascript">
    $("#btnForm").fancybox();
</script>
</footer>

<script>
$( document ).ready(function() {
$("#add-to-cart-button").click(function(event){
    event.preventDefault();
});
});
</script>
