<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>
<% content_for :head do %>
<% if paginated_products.respond_to?(:num_pages) %>
<%= rel_next_prev_link_tags paginated_products %>
<% end %>
<% end %>
<div data-hook="products_search_results_heading">
<% if products.empty? %>
<div data-hook="products_search_results_heading_no_results_found">
<%= Spree.t(:no_products_found) %>
</div>
<% elsif params.key?(:keywords) %>
<div data-hook="products_search_results_heading_results_found">
<h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
</div>
<% end %>
</div>
<% if products.any? %>
<div id="products1" class="inline product-listing1" data-hook>
<% products.each do |product| %>
<% url = spree.product_path(product, :taxon_id => @taxon.try(:id)) %>
<% if  (product.id == 23) || (product.id == 22) %>
<div  class="col-md-12 test" data-hook="products_list_item1" itemscope itemtype="http://schema.org/Product">
	<div class="main_product_title">
		<h2>Watteam POWERBEAT</h2>
	</div>

	<div class="product-image test">
<%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
	</div>
	<div class="myimgname">
<%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<span class="price selling" itemprop="price"><%= display_price(product) %></span>
</span>
</div>
</div>
<% end %>
<% end %>
<div class="clear"></div>
<div class="accessories_title">
	<h2>Accessories & Replacement Parts
	</h2>
</div>
<% products.each do |product| %>
<% url = spree.product_path(product, :taxon_id => @taxon.try(:id)) %>
<% if  (product.id != 23) && (product.id != 22) && spree_current_user.orders.count > 0 %>

<div  class="col-xs-12 col-sm-6 col-md-4" data-hook="products_list_item1" itemscope itemtype="http://schema.org/Product">

<% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
<div class="product-image">
<%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
</div>
<%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<span class="price selling" itemprop="price"><%= display_price(product) %></span>
</span>
<% end %>
</div><% end %>
<% end %>
<% if(spree_current_user.orders.count <= 0) %>
<div class="col-md-12">
<p>"Accessories and replacement parts are currently only available to existing customers. Please login to the site to complete checkout. If you’re an existing customer and don’t have an account please create one via the account screen <a href="https://watteam.herokuapp.com/account">"https://watteam.herokuapp.com/account"</a></p>
</div>
<% end %>
<% reset_cycle("classes") %>
</div>
<% end %>
<% if paginated_products.respond_to?(:num_pages) %>
<%= paginate paginated_products %>
<% end %>