<script>
window.location.href = '/products/powerbeat-pro-level-power-meter-spring-2016';
</script>
<section class="slider_home1">
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>



  <div class="carousel-inner">
    <div class="item active">
  
      <%= link_to image_tag("silde-1.png"), '#' %>
      <div class="carousel-caption  caption-wrper">
        
        <p class="banner-title">We've leveled the playing field with an affordable, pro-level power meter</p>
       
       <a class="btn-shop" href="http://watteam-staging.herokuapp.com/products/powerbeat-pro-level-power-meter-spring-2016">Shop Now</a>
      </div>
    </div>
<div class="item">
  
      <%= link_to image_tag("silde-1.png"), '#' %>
      <div class="carousel-caption  caption-wrper">
        
        <p class="banner-title">We've leveled the playing field with an affordable, pro-level power meter</p>
       
       <a class="btn-shop" href="http://watteam-staging.herokuapp.com/products/powerbeat-pro-level-power-meter-spring-2016">Shop Now</a>
      </div>
    </div>
<div class="item">
  
      <%= link_to image_tag("silde-1.png"), '#' %>
      <div class="carousel-caption  caption-wrper">
        
        <p class="banner-title">We've leveled the playing field with an affordable, pro-level power meter</p>
       
       <a class="btn-shop" href="#">Shop Now</a>
      </div>
    </div>
</div>
      
    
  
  </div>

  
</div>
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="clearfix"></div>
      <div class="top-to-bottom"></div>
      </div>


</div>
</div>
 </section>

<section class="slider_home2">
  <div class="container">
  <div class="row1">
    <div class="slider_container">
      <h1 class="text-center title-Sellers">Best Sellers</h1>
      <div class="slider_contain">
        <div class="col-sm-4 col-md-4">
          <div id="effect-1" class="effects clearfix">
            <div class="img"> <%= link_to image_tag("item-1.png", :alt => "user"), spree.account_path %>
              <div class="overlay"> <a href="#" class="expand">+</a> 
                <!-- <a class="close-overlay hidden">x</a> --> 
              </div>
            </div>
            <h2 class="text-center title-2">powerbeat</h2>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 ">
          <div id="effect-1" class="effects clearfix">
            <div class="img"> <%= link_to image_tag("item-2.png", :alt => "user"), spree.account_path %>
              <div class="overlay"> <a href="#" class="expand">+</a> 
                <!-- <a class="close-overlay hidden">x</a> --> 
              </div>
            </div>
          </div>
          <h2 class="text-center title-2">accessories</h2>
        </div>
        <div class="col-sm-4 col-md-4">
          <div id="effect-1" class="effects clearfix">
            <div class="img"> <%= link_to image_tag("item-3.png", :alt => "user"), spree.account_path %>
              <div class="overlay"> <a href="#" class="expand">+</a> 
                <!-- <a class="close-overlay hidden">x</a> --> 
              </div>
            </div>
          </div>
          <h2 class="text-center title-2">in the news</h2>
        </div>
         
        
       <div class="clearfix"></div>
     
        
      </div>
      
    </div>
  </div>
</div>
</section>



<section class="our-team-v-2 ">
  <div class="container ">
    <div class="row ">
      <div class="col-xs-12 col-md-12 col-sm-12 ">
        <h2 class="text-center text-heading">#watteampowerbeat on INSTAGRAM</h2>
        <p class="lead">Follows us to  find oout the latest news and from our powerebeat team</p>
        <!--< div class="logo-slider">
         <ul class="slider2 logo-slide" style="width: 1115%; position: relative; transition-duration: 0.5s; transform: translate3d(-2380px, 0px, 0px);">
                <li class="bx-clone">               
                <%= image_tag "video-img1.png" %>
              </li>
                <li class="bx-clone">
               <%= image_tag "video-img2.png" %>
             </li>
                <li class="bx-clone">
               <%= image_tag "video-img3.png" %>
                </li>

               <li class="bx-clone">
                <%= image_tag "video-img4.png" %>
                 </li>
                <li  class="bx-clone">
                <%= image_tag "video-img5.png" %>
                 </li>
                  <li class="bx-clone">               
                <%= image_tag "video-img1.png" %>
              </li>
                <li class="bx-clone">
               <%= image_tag "video-img2.png" %>
             </li>
                <li class="bx-clone">
               <%= image_tag "video-img3.png" %>
                </li>

               <li class="bx-clone">
                <%= image_tag "video-img4.png" %>
                 </li>
                <li  class="bx-clone">
                <%= image_tag "video-img5.png" %>
                 </li>                
                
               
              </ul>  
        </div> -->

      

<!-- SnapWidget -->
<iframe src="http://snapwidget.com/sc/?u=d2F0dGVhbXBvd2VyYmVhdHxpbnwxNTB8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=290116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1024px; height:150px"></iframe>

        <h2 class="text-center text-heading-2"><a href="http://watteam-staging.bestdevsite.com/news/gallery/"> view gallery > </a>     </h2>
        <div class="top-to-bottom"></div>
        
      </div>
    </div>
    
 
   </div>
   
</section>
<div class="clear"></div>


 

<script>
$(document).ready(function(){
  $('.slider2').bxSlider({
    slideWidth: 400,
    auto: true,
    minSlides: 1,
    maxSlides: 5,
  moveSlides: 1,
  
    slideMargin: 10
  });
});
</script> 
<script>
    $(document).ready(function(){
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
</script>


